<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match Found For Section Swapping</title>
</head>
<body>
    <div style="font-family: Arial, sans-serif; background-color: #f5f5f5; padding: 20px;">
        <h1 style="color: #333;">Hey <%= senderName %>,</h1>
        <p>Congratulations! You have found a match for Section Swapping:</p>
        
        <div style="background-color: #fff; border: 1px solid #ccc; padding: 15px; margin-top: 15px;">
            <h2>Details:</h2>
            <h3>Name: <%= matchedUserName %></h3>
            <h3>Email: <%= matchedUserEmail %></h3>
            <h3>Contact: <%= matchedUserContact %></h3>
    
            <h2>Swapping Section Details:</h2>
            <div>
                <h3>Your Details:</h3>
                <p>Allotted: <%= currentAlloted %></p>
                <p>Looking For: <%= currentLookingFor.join(", ") %></p>
            </div>
            <div>
                <h3>Matched User Details:</h3>
                <p>Allotted: <%= remoteAlloted %></p>
                <p>Looking For: <%= remoteLookingFor.join(", ") %></p>
            </div>
        </div>
    
        <p style="font-size: 17px; color: #FF0000; margin-top: 15px;">
            Please note that KIIT CONNECT is not responsible for any kind of trouble or inconvenience that may arise from section swapping. We act as a medium to help you find a match, and you are responsible for contacting the matched user yourself for further arrangements.
        </p>
    
        <!-- Site Information -->
        <div style="margin-top: 20px;">
            <p>For more information, visit our website: <a href="https://kiitconnect.com/" target="_blank">kiitconnect.com</a></p>
        </div>
    
        <!-- WhatsApp Link -->
        <div style="margin-top: 10px;">
            <p>Still having Issue contact: <a href="mailto:support@kiitconnect.com" target="_blank">support@kiitconnect.com</a></p>
        </div>
    
        <!-- Contact Information -->
        <!-- <div style="margin-top: 10px;"> -->
            <!-- <p>Join WhatsApp(KIIT-CONNECT-1) us: <a href="https://chat.whatsapp.com/C2RE26X5AMWDbswA7EbFVa" target="_blank">Click here</a></p>
            <p>Join If you are not in KIIT-CONNECT-1(KIIT-CONNECT-2) us: <a href="https://chat.whatsapp.com/BAgHPirA4JzANjGKDd8z2q" target="_blank">Click here</a></p>
        </div>
     -->
        <!-- Disclaimer -->
        <p style="font-size: 14px; color: #666; margin-top: 20px;">
            This information is generated from KIIT CONNECT. For any concerns or queries, please reach out to KIIT CONNECT directly.
        </p>
    </div>
    
</body>
</html>